/* author: shreyas jani | backslashr
https://github.com/backslashr
https://heyshrey.com/tools/minimal-css-reset/
License: none (public domain)
*/

/* base font size at 16px */
html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* images are responsive by default */
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
